<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>First Repository</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Repositorio de Libros</h1>
        <button><a th:href="@{/libro/list}">Ver lista de Libros</a></button>
        <button><a th:href="@{/libro/form}">Crear un libro</a></button>
    </body>
</html>
