<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Libro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Crear Persona</h1>
        <br>
        <button><a th:href="@{/}">Regresar</a></button>
        <br>
        <form th:action="@{/libro/save}" method="POST" th:object="${libro}">
            <div>Crear Persona</div>
            <input hidden th:field="*{id}">
            <label>ISBN</label>
            <input type="number" th:field="*{isbn}">
            <br>
            <label>Titulo</label>
            <input type="text" th:field="*{titulo}">
            <br>
            <label>Año</label>
            <input type="number" th:field="*{anio}">
            <br>
            <label>Ejemplares</label>
            <input type="number" th:field="*{ejemplares}">
            <br>
            <label>Ejemplares Prestados</label>
            <input type="number" th:field="*{ejemplaresPrestados}">
            <br>
            <label>Ejemplares Restantes</label>
            <input type="text" th:field="*{ejemplaresPrestados}">
            <br>
            <label>Estado</label>
            <input type="checkbox" value="indeterminate" th:field="*{alta}">
            <br>
            <label>Autor</label>
            <input type="text" th:field="*{autor.nombre}">
            <br>
            <label>Editorial</label>
            <input type="text" th:field="*{editorial.nombre}">
            <br>
            <input type="submit">
        </form>
    </body>
</html>
